@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.header-wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-180deg, #137ee2, #1057f0, #08a1a6);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 15s ease-in-out infinite;
    position: relative;
    margin: auto;
}
a{
    text-decoration: none;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 900px;
    margin-top: -50px;
    border: 1px double orange;

}
.top > h1{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom:30px;
}
.top > p {
    text-align: center;
    font-size: 20px;
    color: white;
}
.top > img{
    width: 350px;
    height: 500px;
    display: flex;
    margin: 10px auto 40px;
    filter: drop-shadow(5px 5px 6px rgb(61, 42, 7));

}
.button{
    font-size: x-large;
    height: 60px;
    width: 250px;
    background-color: #ff1053;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.middles{
    background-image: linear-gradient(-360deg,rgba(0, 179, 255, 0), rgba(50, 168, 219, .2));
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.encap{
    height: 400px;
    width: 900px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.encap i{
    margin-bottom: 10px;
    scale: 1.8;
}
.encap p{
    height: 100px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}
.one,.two{

    margin-top: 10px;
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
}
.icon_1, .icon_2{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.book__pay{
    border-top: 1px solid #33A8DB80;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 900px;
    width: 100vw;
}



.bonus__warappe {
    border-top: 1px solid #33A8DB80;
    display: flex;
    flex-direction: row;
    height: 900px;
    text-align: center;
    justify-self: center;
    border: 1px solid red;
}

.bonus__warappe img {
    width: 350px;
    height: 500px;
    display: flex;
    filter: drop-shadow(5px 5px 6px rgb(61, 42, 7));
    margin: 20px;
    
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}










footer {
    width: 100vw;
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
    
}

footer img {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#1{
    height: 43px;
}
#2{
    height:24px;
}
#3{
    height: 300px;
}
#4{
    height: 70px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}


@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}
